<header>
<h1 class="display-4"><%= @place.category %></h2>
<h2 class="display-4"><%= @place.title %></h2></header>



<p>Address: <%= @place.address %></p>
<p>Coordinates: <%= @place.latitude %> <%= @place.longitude %></p>
